.form {
    margin: 0 auto;

    .form-group {
        display: flex;
        padding: 2rem;
        max-width: 30rem;
        margin: 0 auto;
    }

    &__title {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    &__logo {
        display: block;
        height: 64px;
        width: 64px;
        margin: 0 auto;
    }


    &__searchbar-clear {
        margin: 0 auto;
    }

    &__searchbar-submit {
        transition: all 0.5s;
    }
}

.clear {
    display: flex;
    margin: 0 auto;

}