.card-container {
    width: 25rem;
    height: 25rem;
    color: $black;
    margin: 1.5rem;
    box-shadow: $cardShadow;
    transition: box-shadow 0.5s, opacity 1s;
    position: relative;

    &:hover {
        box-shadow: $cardShadowHover;

        .card-url {
            opacity: 1;
        }
    }

    @media (max-width: $sm) {
        width: 20rem;
        height: 20rem;
    }

    @media (min-width: $xs)and(max-width: $sm) {
        width: 18rem;
        height: 18rem;
    }

    @media (max-width: $xs) {
        width: 15rem;
        height: 15rem;
    }

    .card-url {
        opacity: 0;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        border: none;
        outline: none;
        width: 100%;
        resize: none;
        color: $white;
        font-size: 0.5rem;
        background: $urlPurple;
        cursor: pointer;
        transition: all 0.8s linear;
    }

    .card-url-textarea {
        margin: 0 auto;
        width: 85%;
        padding: 0.5rem;
        height: 2rem;
        font-size: 0.8rem;
        background-color: $white;
        display: block;
        resize: none;
        font-family: monospace;
    }



    .copied {

        font-size: 1.4rem;
        position: absolute;
        top: 10px;
        right: 10px;
        background: $copiedBadge;
        transition: all 0.5s ease-out;
    }

    .card {
        background-size: cover;
        background-position: center;
        height: inherit;
    }

}

.mock-red {
    background-color: $mockRed;
}

.mock-purple {
    background-color: $mockPurple;
}

.mock-green {
    background-color: $mockGreen;
}

.mock-blue {
    background-color: $mockBlue;
}